#!/bin/bash

# Get the local IP address (for macOS)
IP_ADDRESS=$(ipconfig getifaddr en0)

# Check if we got an IP address
if [ -z "$IP_ADDRESS" ]; then
    echo "Could not determine local IP address. Exiting."
    exit 1
fi

# Write the IP address to the .env file
echo "APP_SECRET=<REPLACE_WITH_APP_SECERET>" > .env
echo "API_URL=http://$IP_ADDRESS:8787" >> .env
echo "Set DEV_IP to $IP_ADDRESS in .env"

# Run the Flutter app, providing the .env file for environment variables
flutter run --dart-define-from-file=.env
